.patient-info-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;

}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="number"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    box-sizing: border-box;
}
select.form-control{
    width: 100%;
    height:50px;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    box-sizing: border-box;
}



.btn {
    padding: 20px 30px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-primary {
    background-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
}



.additional-info-container {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .additional-info-container {
        flex-direction: column;
    }
}

.body2 {
    background-color: lightblue;
    background-image: url("C:\Users\HP\Desktop\minip\New folder (2)\myapp1\public\doctor.jpeg");
    background-size: cover;
    /* Cover the entire viewport */
    background-position: center;
    /* Center the background image */

}

.bed-management-container {
    width: calc(100% - 40px);
    /* Extend to full width minus padding */
    margin: 20px auto;
    /* Center the container */
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.bed-management-container button,
.appointment-scheduler-container button {
    margin-top: 10px;
}